@media screen and  (max-width : 975px) {
    #header {
        &-home {
            background: url('../img/new.jpg') no-repeat center center/cover;
        }
    }
    .work {
            .box {
                margin: 25px auto;
            }
        }
}

@media screen and (max-width : 725px) {
    .work {
        .work-heading {
            font-size: 24px;
        }
    }
    .contact {
        .contact-heading {
            font-size: 24px;
        }   
    }
}
@media screen and (max-width : 600px) {
    .home-content {
        .container {
            font-size: 20px;
        }
    }
    
        
}
@media screen and (max-width : 500px) {
    // .work {
    //     .work-content {
    //         .box {
    //             width : 300px
    //         }
    //     }
    // }
}

@media screen and (max-width : 425px) {
    .home-content {
        .container {
            font-size: 14px;
        }
    }
}
